<nav class="navbar navbar-expand-lg bg-dark colorDefault">
  <div class="container-fluid">
    <img src="" alt="">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: #fff;" href="#">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #fff;" href="#">Buscar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #fff;" href="#">Meus Agendamentos</a>
        </li>
      </ul>
      <!-- Botão para abrir o modal -->
      <button class="btn btn-outline-primary btn-rounded btn-icon" data-bs-toggle="modal" data-bs-target="#loginModal"
        role="button">
        <i class="fas fa-user"></i> Entrar
      </button>

      <!-- Modal de login/sing-up -->
      <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-300">
          <div class="modal-content">
            <div class="modal-header colorDefault">
              <h5 class="modal-title" id="loginModalLabel" [innerText]="signup ? 'Cadastro' : 'Login'"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <div *ngIf="isMessage" class="alert alert-{{color}}" role="alert" [innerText]="message"></div>


              <form *ngIf="!signup" (ngSubmit)="auth()">
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" [(ngModel)]="email" class="form-control"  name="email" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Senha</label>
                  <input type="password" [(ngModel)]="senha" class="form-control" name="senha" required>
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
                <hr />
                <p>Não possui cadastro? <a href="#" (click)="isSignup()"> cadastre-se- aqui!</a></p>
              </form>

              <form *ngIf="signup"  (ngSubmit)="register()">
                <div class="mb-3">
                  <label class="form-label">Nome</label>
                  <input type="text" class="form-control" [(ngModel)]="form.name" name="name" placeholder="Informe seu login" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" [(ngModel)]="form.email" name="email" placeholder="Informe seu email" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Senha</label>
                  <input type="password" class="form-control" [(ngModel)]="form.senha" name="senha" placeholder="Informe sua senha" required>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <hr />
                <p>Possui cadastro? <a href="#" (click)="isSignup()"> realize o login aqui!</a></p>
              </form>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</nav>
<body>
</body>
<footer class="footer bg-dark colorDefault">
  <div class="container-fluid">
    <div class="text-left mt-4" style="color: white">
      <p>Termo de Uso - 2024 &copy; BarberTech</p>
    </div>
  </div>
</footer>

<!-- Navegação de paginas-->
<router-outlet></router-outlet>
