.colorDefault {
    background-color: #7570f5 !important;
    ;
}

.btn {
    border-radius: 20px;
    border-color: #fff;
    color: #fff;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}